.hvr-bounce-to-bottom-motorist:hover {
	background: #bd2230;
}

.hvr-bounce-to-bottom-pb:hover {
	background: #ef3d56;
}

.hvr-bounce-to-bottom-triumph:hover {
	background: #021068;
}

.hvr-bounce-to-left-lyons:hover {
	background: #bb0978;
}

.hvr-bounce-to-left-haynes:hover {
	background: #2476a7;
}

.hvr-bounce-to-left-flower:hover {
	background: #006eb7;
}

.hvr-bounce-to-top-cooker:hover {
	background: #252525;
}

.hvr-bounce-to-top-ecologia:hover {
	background: #005f31;
}

.hvr-bounce-to-top-soapbox:hover {
	background: #900048;
}

.hvr-bounce-to-right-drift:hover {
	background: #28bff1;
}

.hvr-bounce-to-right-tri:hover {
	background: #000000;
}

.hvr-bounce-to-right-goody:hover {
	background: #1e272d;
}